@font-face {
    font-family: livvic-black;
    src: url('/src/style/fonts/Livvic-Black.ttf');
}

@font-face {
    font-family: livvic-bold;
    src: url('/src/style/fonts/Livvic-Bold.ttf');
}

@font-face {
    font-family: livvic-light;
    src: url('/src/style/fonts/Livvic-Light.ttf');
}

@font-face {
    font-family: livvic-med;
    src: url('/src/style/fonts/Livvic-Medium.ttf');
}

@font-face {
    font-family: livvic-reg;
    src: url('/src/style/fonts/Livvic-Regular.ttf');
}

@font-face {
    font-family: livvic-semi;
    src: url('/src/style/fonts/Livvic-SemiBold.ttf');
}

@font-face {
    font-family: livvic-thin;
    src: url('/src/style/fonts/Livvic-Thin.ttf');
}