.footer {
    @media (min-width: 375px) {
        padding: rem(65px) rem(24px);
        background-color: $dark-green;
        color: $white;
        position: relative;
        height: rem(432px);
        justify-items: center;

        &>* {
            font-size: em(15px);
            line-height: rem(25px);
        }

        .logo,
        .links,
        p {
            margin-block-end: rem(24px);
        }

        p,
        pre {
            text-align: center;
        }

        .logo {
            width: rem(96px);
            height: rem(24px);
        }

        .links {
            gap: rem(24px);


        }

        p {
            opacity: 60%;
            font-size: em(15px);
            line-height: rem(25px);
            margin-block-end: rem(24px);
        }

        .icons {
            align-items: center;
            justify-content: center;
            gap: rem(18px);
        }

        pre {
            margin-block-start: rem(24px);
            opacity: 60%;
        }
    }

    @media (min-width: 768px) {
        padding: rem(48px) rem(39px);
        height: rem(271px);

        p {
            text-align: end;
        }
    }

    @media (min-width: 1200px) {
        padding: rem(24px) rem(165px);
        height: rem(148px);

        p {
            text-align: start;
            margin-inline-start: rem(165px);
        }

        .links {
            margin: 0;
        }
    }
}
