.footer {
    padding-inline: 8.727vw;
    padding-block: rem(28px);
    background-color: $dark-green;
    color: $white;

    .logo-links-address {
        gap: rem(82px);
        flex-wrap: wrap;
        height: 100px;

        .logo-and-links {

            .links {
                gap: em(28px);
            }
        }

        p {
            opacity: 60%;
            font-size: em(15px);
            line-height: rem(25px);
        }
    }

    .media-and-pre {
        .icons {
            align-self: flex-end;
            gap: rem(18px);
        }

        pre {
            opacity: 60%;
        }
    }


}
