.app-header {
    background-color: $midnight-green;
    color: $white;
    padding-block: rem(73px);
    padding-inline: 8.727vw;

        .right-links>* {
            font-size: em(18px);
            font-weight: 600;
            line-height: em(28px);
        }
}


