.app-header {
    background-color: $midnight-green;
    color: $white;
    padding-block: rem(73px);
    padding-inline: 165px;
    .logo-and-links,
    .contact-btn {
        gap: 10px;

        .right-links>* {
            font-size: em(18px);
            font-weight: 600;
            line-height: em(28px);
        }
    }

    .contact-btn {
        border: $white solid 2px;
        border-radius: 24px;
        background-color: transparent;
        color: $white;
        padding: 9px 32px;
    }
}


