.fourth-desc {
    @media (min-width: 375px) {
        background-color: $light-coral;
        height: rem(302px);
        position: relative;
        align-items: center;
        padding-block: rem(83px);
    }

    .bottom-shape {
        align-self: start;
        position: absolute;
        bottom: rem(-21px);
    }

    .title-and-btn {
        padding-inline: 5.475vw;
        gap: 1rem;
        flex-direction: column;
        align-items: center;

        h1 {
            color: $sacramento-state-green;
            line-height: rem(32px);
            font-size: em(32px);
            text-align: center;
        }
    }
}

// .fourth-desc {
//     background-color: $light-coral;
//     height: rem(200px);
//     position: relative;
//     align-items: center;
//     padding-block: rem(50px);
//     svg {
//         align-self: end;
//         position: absolute;
//     }

//     .title-and-btn {
//         padding-inline: 5.475vw;

//         h1 {
//             color: $sacramento-state-green;
//             line-height: rem(48px);
//             font-size: em(48px);
//         }
//     }
// }