.about {

    &>* {
        padding: rem(165px);
    }

    .first-section {
        background-color: $midnight-green;
        padding-block: rem(120px);
        position: relative;

        h1 {
            color: $white;
            font-size: em(64px);
            line-height: rem(100px);
        }

        .shape-and-txt { 
            grid-column: 2 / 4;

            p {
                color: $white;
            }
        }

        .right-shape {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .second-section {
        position: relative;
        background-color: $deep-jungle-green;
        svg {
            position: absolute;
            left: 0;
            top: 0;
        }

        .directors {

                h1 {
                    font-size: em(48px);
                    line-height: rem(48px);
                    text-align: center;
                    color: $white;
                    margin-block-end: rem(48px);
                }
        }
    }
}