.home {
    .first-desc {
        background-color: $midnight-green;
        color: $white;
        padding-inline: rem(165px);
        padding-block: rem(6px) rem(177px);
        position: relative;

        .left-shape {
            position: absolute;
            left: 0;
            top: rem(6px);
        }

        .top-shape {
            position: absolute;
            grid-column: 2;
            left: rem(120px);
        }

        .text {
            position: relative;

            h1,
            span {
                font-size: 100px;
                line-height: 100px;
            }

            span {
                color: $light-coral;
            }
        }

        .bottom-shape {
            position: absolute;
            bottom: rem(-4px);
            right: rem(165px);
        }
    }

    .second-desc {
        background-color: $sacramento-state-green;
        padding: rem(165px);

        .shape-and-txt {
            position: relative;

            h1 {
                color: $white;
                font-size: em(48px);
                line-height: 48px;
            }

            svg {
                position: absolute;
                top: -48px;
            }
        }

        .explanations .explanation-container {

            svg {
                width: 72px;
                height: 72px;
            }

            .text {

                h2 {
                    color: $light-coral;
                    line-height: rem(28px);
                    font-size: em(18px);
                    font-weight: 700;
                }

                p {
                    font-size: em(15px);
                    line-height: em(25px);
                    color: $white;
                }
            }

        }
    }

    .third-desc {
        background-color: $midnight-green;
        padding: rem(165px);
        position: relative;

        svg {
            position: absolute;
            left: 0;
            top: 0;
        }

        .header-and-stories {
            h1 {
                color: $white;
                font-size: em(48px);
                line-height: rem(48px);
                text-align: center;

                span {
                    color: $rapture-blue;
                }
            }
        }

        .stories {
            margin-block-start: rem(28px);

            .success-story {
                position: relative;

                svg {
                    left: em(142px);
                    z-index: 2;
                }

                p {
                    color: $white;
                    font-size: em(15px);
                    line-height: rem(25px);
                    text-align: center;
                    z-index: 5;
                    margin-block-end: rem(25px);
                }

                h3 {
                    color: $rapture-blue;
                    font-size: em(18px);
                    line-height: rem(28px);
                    margin-block-end: rem(28px);
                }

                img {
                    width: 62px;
                    height: 62px;
                    border-radius: 50%;
                    border: 2px solid $rapture-blue;
                }
            }
        }
    }

    .fourth-desc {
        background-color: $light-coral;
        position: relative;
    }
}