.home {
    .first-desc {
        background-color: $midnight-green;
        color: $white;
        padding-inline: rem(165px); 
        padding-block: rem(6px) rem(177px);
        position: relative;

        .left-shape {
            position: absolute;
            left: 0;
            top: rem(6px);
        }

        .top-shape {
            position: absolute;
            grid-column: 2;
            left: rem(120px);
        }

        .text {
            position: relative;

            h1, span {
                font-size: 100px;
                line-height: 100px;
            }

            span {
              color: $light-coral;  
            }
        }

        .bottom-shape {
            position: absolute;
            bottom: rem(-4px);
            right: rem(165px);
        }
    }

    .second-desc {
        background-color: $sacramento-state-green;
        padding: rem(165px);

        .shape-and-txt {
            position: relative;

            h1 {
                color: $white;
                font-size: em(48px);
                line-height: 48px;
            }

            svg {
               position: absolute;
               top: -48px; 
            }
        }

        .explanations .explanation-container {

            svg {
                width: 72px;
                height: 72px;
            }

            .text {

                h2 {
                    color: $light-coral;
                    line-height: rem(28px);
                    font-size: em(18px);
                    font-weight: 700;
                }

                p {
                    font-size: em(15px);
                    line-height: em(25px);
                    color: $white;
                }
            }

        }
    }

}
