.right-links {
    gap: 40px;
    margin-inline-start: 80px;
}

.first-desc .text {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: rem(200px);

    h1 {
        grid-column: 1;
    }

    p {
        grid-column: 2;
        align-self: end;
        text-wrap: wrap;
        padding-inline-start: rem(120px);
    }
}

.second-desc {
    grid-template-columns: 1fr 1fr;
    gap: rem(100px);

    .shape-and-text {
        grid-column: 1;
    }

    .explanations {
        grid-column: 2;

        .explanation-container {
            gap: em(18px);

            .text {
                gap: em(18px);
            }

            margin-block-end: em(18px);
        }
    }
}

.third-desc {
    .stories {
        grid-auto-flow: column;

        .success-story {
            grid-auto-flow: row;
            justify-items: center;
        }
    }
}

.about {
    .first-section {
        grid-template-columns: repeat(4, 1fr);
        
    }
}